<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="http://gdg.org.ua/favicon.ico" />
    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=uk"> </script>

    <script type="text/javascript">var app = {};</script>
    <script type="text/javascript" src="/app.js"></script>

    <!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Comfortaa&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'> -->
    
  </head>
  
  <body onload="app.init()">
    <div id="header">
        <!-- <img src="http://lifestyleng.com.ua/img/LifeStyle_logo.png" /> -->
        header
    </div>
    <div id="panel">
      <div id="filter-tags">
        <div class="item">sport</div>
        <div class="item">game</div>
        <div class="item">тест</div>
        <div class="item">welcome</div>
        <div class="item">developers</div>
        <div class="item">food</div>
        <div class="item">sex</div>
        <div class="item">rock'n'roll</div>
        <div class="item">велкам</div>
        <div class="item">music</div>
      </div>
      <div id="results">
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
        <div class="item">1</div>
      </div>
    </div>
    <div id="map"></div>
  </body>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
</html>