<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="http://gdg.org.ua/favicon.ico" />

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=uk"> </script>

        <script type="text/javascript">var app = {};</script>
        <script type="text/javascript" src="/app.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow|Ubuntu|Open+Sans|Roboto+Condensed|Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
  
    <body onload="app.init()">
        <div id="header">
            <!-- <img src="http://lifestyleng.com.ua/img/LifeStyle_logo.png" /> -->
            header
            //
            <button id="add_point">add new point</button>
        </div>
        <div id="panel">
            <div id="panel_search">
                <h1>Пошук</h1>

                <div id="results-counts">
                    Знайдено <span><%= rand(50) %></span> записів, <span><%= rand(50) %></span> категорій, <span><%= rand(50) %></span> тегів
                </div>

                <div id="filter-tags"></div>

                <div id="results-title">
                    Найближчі результати <span><%= rand(50) %></span>:
                </div>

                <div id="results">
                    <div class="preloader"></div>
                </div>
            </div>

            <div id="panel_add_point">
                <h1>Додати новий запис</h1>

                <div class="field address">
                    <div class="key">Адреса:</div>
                    <div class="value">
                        &hellip;
                    </div>

                    <input type="hidden" name="lat" value="" />
                    <input type="hidden" name="lng" value="" />
                </div>

                <div class="field categories">
                    <div class="key">Категорія:</div>
                    <div class="value">
                        <select name="category_id"></select>
                    </div>
                </div>

                <div class="field">
                    <div class="key">Заголовок:</div>
                    <div class="value">
                        <input type="text" name="title" placeholder="шось там бла бла" />
                    </div>
                </div>

                <div class="field">
                    <div class="key">Опис:</div>
                    <div class="value">
                        <textarea name="desctiption" placeholder="шось там бла бла"></textarea>
                    </div>
                </div>

                <div class="field tags">
                    <div class="key">Теги:</div>
                    <div class="value">
                        <input type="text" placeholder="шось там бла бла" />

                        <div class="list"></div>
                    </div>
                </div>

                <div class="field">
                    <span id="add_cancel" class="button">Назад</span>
                    <span id="add_submit" class="button">Зберегти</span>
                </div>
            </div>
        </div>
        <div id="map">
            <div class="preloader"></div>
        </div>
    </body>
  
    <script id="tpl-result-item" type="text/x-dot-template">
        <div class="item">
            <div class="img"><img src="/marker-{{=it.item.category_key}}.png" /></div>
            <div class="title">id {{=it.item.id}}</div>
            <div class="title">id {{=it.item.title}}</div>
            <div class="title">id {{=it.item.category}}</div>
        </div>
    </script>

    <script id="tpl-tag-item" type="text/x-dot-template">
        <div class="item">
            <span class="name">{{=it.name}}</span>
            <span class="close" onclick="app.tags.remove(this)">x</span>
        </div>
    </script>

    <script id="tpl-filter-tag-item" type="text/x-dot-template">
        <div class="item">
            <span class="title">{{=it.title}}</span>
            <span class="count">{{=it.count}}</span>
        </div>
    </script>

    <script type="text/javascript" src="/doT.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
</html>